.left {
    float: left;
}
.right {
    float: right;
    right: 10px;
}
li {
    display: inline;
}
.logo-natixis {
    width: 200px;
    height: 100px;
}
.container-head {
    display: flex;
    background: #9856b4;
    height: 20px;

}
.container-footer {
    display: flex;
    background: #9856b4;
    height: 10px;
}
.container-footer2 {
    padding: 5px 5px 5px 20px;
    display: flex;
    background: #581d74;
    color: #ffffff;
    font-size: 10px;
}
.box{
    height: 300px;
    width: 500px;
    border: black thin solid;
    background: green;
}

.container-main{
    justify-content: space-between;
    display: flex;
}
.box-violet{

}
.box-bleu{

}
.box-vert{

}